*{
    margin: 0;
    padding: 0;
}
.topnav {
    background: #efdcdc;
    padding: 15px;
    text-align: center;
}
.topnav a{
    text-decoration: none;
    color: black;
    font-size: 40px;
}
.sanpham .containe{
    padding: 30px;
}
.item{
    width: 300px;
    height: 350px;
    text-align: center;
    margin-top: 15px;
    margin-left: 80px;
}
.item:hover{
    box-shadow: 0 0 5px black;
}
.item h2, .item p{
    margin-bottom: 10px;
}
.item button{
    padding: 10px 30px;
    background-color: gray;
    border: none;
    outline: none;
}
.hiensanpham{
    display: flex;
    flex-wrap: wrap;
}